html {
	background-color: #2a2a2a;
	background-image: url(../images/bulletpile.png);
	background-repeat: no-repeat;
	background-position: bottom;
}

.container {
	background-color: rgb(224, 224, 224);
	min-width: 290px;
	background-image: url(../images/carbon-fibre.png);
	border-left: 1px solid #00c1ff;
	border-right: 1px solid #00c1ff;
	max-width: 1200px;
}

#top-main {
	background: url(../images/carbon-fibre.png);
}

#top-title {
	max-width: 931px;
	margin: 0 auto;
}

#main-title {
	font-family: 'IM Fell Great Primer', serif;
	color: #00c1ff;
	text-shadow: 2px 1px 4px black;
	display: inline-block;
	cursor: pointer;
	margin: 10px auto;
	margin-top: 15px;
	text-align: center;
	width: 100%;
}

.gun-type {
	text-align: center;
	cursor: pointer;
	font-size: 19px;
	color: black;
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
}

.gun-type:hover {
	background: black;
	color: #94e5ff;
	border-left: 1px solid #00c1ff;
	border-right: 1px solid #00c1ff;
}

#top-nav {
	background: rgba(255, 255, 255, 0.6);
	border-top: 1px solid #00c1ff;
	border-bottom: 1px solid #00c1ff;
}

/* ^ end of top section ^ */
/* gun section */
.gun-row {
	padding: 30px 6.26%;
}

.gun-section {
	width: 200px;
	min-width: 200px;
	height: 200px;
	min-height: 200px;
	border: 1px solid black;
	display: inline-block;
	margin-bottom: 5px;
	margin-right: 4px;
}

.gun-pic {
	display: ;
	background: url(../images/brushed-alum.png);
	background-color: grey;
	height: 178px;
	max-height: 178px;
}

.gun-desc {
	height: 20px;
	background: grey;
	color: #00c1ff;
	text-align: center;
	padding-bottom: 2px;
}

.gun {
	width: 180px;
	margin: 30% 10px;
}

/* ^ end of gun section ^ */
/* Footer */

#footer {
	width:100%;
	display: block;
	position: absolute;
	margin: 0;
	background: #2a2a2a;
	border-top: 1px solid #00c1ff;
}

#foot-info {
	width: 70%;
	padding-top: 25px;
	margin: 0 auto;
}

.foot-text {
	color: #00c1ff;
	cursor: default;
}

/* center title when small */
@media (min-width: 400px) {
	#top-title {
		max-width: 347px;
	}
}

/* header pistols */
@media (min-width: 664px) {
	#top-title {
		max-width: 517px;
	}
}

/* header m16's */
@media (min-width: 1197px) {
	
}